<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiens.meeting.repository.mapper.MeetingUserProfitRecordMapper">

    <resultMap id="BaseResultMap" type="com.tiens.meeting.repository.po.MeetingUserProfitRecordPO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="joyoCode" column="joyo_code" jdbcType="VARCHAR"/>
            <result property="initMemeberType" column="init_memeber_type" jdbcType="TINYINT"/>
            <result property="currentMemeberType" column="current_memeber_type" jdbcType="TINYINT"/>
            <result property="paidType" column="paid_type" jdbcType="TINYINT"/>
            <result property="useTime" column="use_time" jdbcType="TIMESTAMP"/>
            <result property="meetingId" column="meeting_id" jdbcType="BIGINT"/>
            <result property="duration" column="duration" jdbcType="INTEGER"/>
            <result property="resourceType" column="resource_type" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,joyo_code,
        init_memeber_type,current_memeber_type,paid_type,
        use_time,meeting_id,duration,
        resource_type,status,create_time,
        update_time
    </sql>
</mapper>
