<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiens.meeting.repository.mapper.MeetingRoomMapper">

    <resultMap id="BaseResultMap" type="com.tiens.meeting.repository.po.MeetingRoomPO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="meetingId" column="meeting_id" jdbcType="VARCHAR"/>
            <result property="meetingCode" column="meeting_code" jdbcType="VARCHAR"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="meetingType" column="meeting_type" jdbcType="TINYINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="recordStatus" column="record_status" jdbcType="TINYINT"/>
            <result property="meetingStatus" column="meeting_status" jdbcType="TINYINT"/>
            <result property="meetingCreateMode" column="meeting_create_mode" jdbcType="TINYINT"/>
            <result property="meetingCreateFrom" column="meeting_create_from" jdbcType="TINYINT"/>
            <result property="operateTime" column="operate_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUserid" column="create_userid" jdbcType="VARCHAR"/>
            <result property="createOpenId" column="create_open_id" jdbcType="VARCHAR"/>
            <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
            <result property="createUuid" column="create_uuid" jdbcType="INTEGER"/>
            <result property="createMsOpenId" column="create_ms_open_id" jdbcType="INTEGER"/>
            <result property="createInstanceId" column="create_instance_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,meeting_id,meeting_code,
        subject,meeting_type,start_time,
        end_time,record_status,meeting_status,
        meeting_create_mode,meeting_create_from,operate_time,
        create_time,create_userid,create_open_id,
        create_user_name,create_uuid,create_ms_open_id,
        create_instance_id
    </sql>
</mapper>
